In [26]:
import pandas as pd
data_url = "https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download"
pd_data = pd.read_csv(data_url, sep=";", header=0)

In [27]:
print(pd_data.columns)
print(pd_data.shape)

Index(['FECHA_CORTE', 'UUID', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'METODODX', 'EDAD', 'SEXO', 'FECHA_RESULTADO'],
      dtype='object')
(1344969, 9)

In [21]:
pd.set_option('display.max_colwidth', None)

pd_data.head(5)


# print(pd_data.head(5))

                    FECHA_CORTE;UUID;DEPARTAMENTO;PROVINCIA;DISTRITO;METODODX;EDAD;SEXO;FECHA_RESULTADO
0  20210302;7320cabdc1aaca6c59014cae76a134e6;LIMA REGION;HUAROCHIRI;SAN ANTONIO;PR;41;FEMENINO;20200526
1            20210302;e81602051997ace8340bb8c18fe24c65;APURIMAC;ABANCAY;ABANCAY;PR;32;FEMENINO;20200425
2            20210302;71ecb6bccb248b0bb2ac72ed51b5e979;APURIMAC;ABANCAY;ABANCAY;PR;34;FEMENINO;20200429
3    20210302;566af4276cbe9359abe93f9aa86396c3;APURIMAC;ANDAHUAYLAS;ANDAHUAYLAS;PR;40;FEMENINO;20200426
4            20210302;027561e9d126e7c283d79c02cede562d;APURIMAC;ABANCAY;ABANCAY;PR;40;FEMENINO;20200428

In [33]:
count = 5
for (idx, row) in pd_data.iterrows():
  print(idx)
  # print(row.UUID)
  # print(row.index)
  count = count -1
  if count == 0:
    break

0
1
2
3
4

In [67]:
# insert data
import psycopg2

dsn = "host='db.jmac.tk' port=2345 dbname='temp' user=user password=dbpass1234"
def insert_row(conn, cur,fecha_corte, uuid, departamento, provincia, distrito, metododx, edad, sexo, fecha_resultado):
 
  """ insert a new row into the table """
  sql = """INSERT INTO "Persona" ( "FECHA_CORTE",
  "UUID", "DEPARTAMENTO", "PROVINCIA", "DISTRITO", "METODODX", "EDAD", "SEXO", "FECHARESULTADO")
            VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s);"""
    
  # execute the INSERT statement
  cur.execute(sql, (fecha_corte, uuid, departamento, provincia, distrito, metododx, edad, sexo, fecha_resultado,))
  # get the generated id back
  # vendor_id = cur.fetchone()[0]
  # commit the changes to the database
  conn.commit()

In [68]:
after_idx = 6166 - 1

conn = None 
cur = None
try:
  conn = psycopg2.connect(dsn)
  cur = conn.cursor()
  
  for (idx, row) in pd_data.iterrows():
    if idx > after_idx:
      insert_row(conn, cur, row.FECHA_CORTE, row.UUID, row.DEPARTAMENTO, row.PROVINCIA, row.DISTRITO, row.METODODX, row.EDAD, row.SEXO, row.FECHA_RESULTADO)

except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if cur is not None:
      cur.close()
    if conn is not None:
        conn.close()

integer out of range